[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
werkzeug = "*"
mypy = "*"
black = "==19.10b0"
flake8 = "*"
falcon = "*"
flask = "*"
click = "*"

[packages]
requests = "*"
jwcrypto = "*"
azure-oidc = {editable = true, path = "."}

[requires]
python_version = "3.8"
